@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-hike-photos
  display: flex

  >.photo
    border: 0
    height: 140px
    width: 150px
    margin: 5px
    background-size: 'auto 100%'
