@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-hike-photos

  > .photos
    display: flex
    flex-wrap: wrap

    > .photo
      border: 0
      height: 140px
      width: 170px
      margin: 5px
      background-size: cover
