@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-list
  zp-font-subhead()
  display: flex
  flex-direction: column

  > .hike
    position: relative
    margin: 0px 5px 0px 5px
    text-decoration: none

    > .picture
      width: 100%

    > .hike-info
      display: flex

      > .shadow
        background-color: $black54
        width: 100%
        height: 37px
        position: absolute
        bottom: 0
        padding: 12px 0

      > .hike-info-left
        margin-bottom: 0

        > .hike-name
          zp-font-subhead()
          position: absolute
          bottom: 36px
          color: #fff
          left: 16px
          font-weight: bold

        > .hike-area
          zp-font-subhead()
          position: absolute
          bottom: 16px
          color: #fff
          left: 16px

      > .hike-length
        position: absolute
        right: 16px
        bottom: 16px
        color: #fff
        font-weight: bold
        padding: 5px
