@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-home
  zp-shadow-1()
  background: $white
  border-radius: 2px
  justify-content: center

  > .content
    zp-font-display2()
    align-self: center
    color: black
    text-align: center
    padding: 20px

  > .nav-bar
    zp-font-title()
    display: flex
    border-bottom: 3px solid $lime500

    > .tab
      padding: 10px 45px
      text-decoration: none
      color: black

      &.is-active
        border-bottom: 15px solid $lime500
