@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-hike
  zp-shadow-1()
  background: $white
  border-radius: 2px
  justify-content: center

  > .content
    zp-font-display2()
    align-self: center
    color: black

    .icon.arrow-left
      height: 24px

    > h5
      text-align: left

  > .nav-bar
    zp-font-title()
    display: flex
    border-bottom: 4px solid $lime500

    > .tab
      padding: 12px 44px
      text-decoration: none
      color: black

      &.active
        border-bottom: 16px solid $lime500

  > .details
    zp-font-title()
    display: flex
    flex-direction: column

    > .picture
      width: 100%

    > .hike-info
      margin: 16px

      > .hike-length
        display: flex

        > .difficulty
          position: absolute
          right: 16px

      > .address

      > .parking

      > .highlights

        > .positive

          .icon.check
            height: 24px
            margin-right: 8px
            color: $lime500

        > .negative

          .icon.close
            height: 24px
            margin-right: 8px
            color: $red400
