@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-hike
  zp-shadow-1()
  background: $white
  border-radius: 2px
  justify-content: center

  > .content
    zp-font-display2()
    align-self: center
    color: black

    .icon.arrow-left
      height: 32px

    > h5
      text-align: left

  > .nav-bar
    zp-font-title()
    display: flex
    border-bottom: 4px solid $lime500

    > .tab
      padding: 12px 44px
      text-decoration: none
      color: black

      &.is-active
        border-bottom: 16px solid $lime500
