@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-hike
  zp-shadow-1()
  background: $white
  border-radius: 2px
  justify-content: center

  > .content
    zp-font-headline()
    align-self: center
    color: white
    background-color: $cyan500
    padding: 20px 0

    .icon.arrow-left
      height: 32px
      color: white

    > h5
      text-align: left
      margin: 0

  > .nav-bar
    zp-font-subhead()
    font-weight: bold
    display: flex
    border-bottom: 5px solid $lime500
    background-color: $cyan500

    > .tab
      padding: 5px 30px
      text-decoration: none
      color: white

      &.is-active
        border-bottom: 8px solid $lime500
